@font-face {
  font-family: 'CustomFont';
  src: url('font.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
#particleCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  overflow: hidden;
  transition: background 1s ease;
  position: relative; 
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 1; 
  z-index: 1; 
  pointer-events: none; 
  animation: float 10s ease-in-out infinite;
  animation-delay: calc(1s * var(--random-delay));
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
}

h1 {
  position: sticky;
  font-size: xxx-large; 
  margin: 0;
  padding: 0;
  z-index: 2; 
  font-family: 'CustomFont', sans-serif; 
  margin-top: 13vh;
}

h4 {
    font-size: xx-small;
    padding: 10px;
	z-index: 4;
	position: sticky;
}

.center-image {
  position: sticky;
  max-width: 400px; 
  width: 50%; 
  height: auto;
  z-index: 2;
  margin-top: 30px;
}

#downloadButton {
  position: sticky;
  background-color: #ffffff;
  color: black;
  padding: 15px 32px;
  font-size: 16px; 
  border: none;
  border-radius: 30px; 
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 4;
  margin-top: 50px;
}

#downloadButton:hover {
  background-color: #cccccc; 
}
